
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          
          <h2 class="alert alert-primary text-center">
            Employee Leave Application Form
          </h2>

          <form #empForm="ngForm" (ngSubmit)="onAdd()">
            <div class="form-group">
              <label for="eName">Employee Name*</label>
              <input minlength="6" pattern="[A-Za-z ]+" #eName="ngModel" ngModel required name="eName" type="text"
                class="form-control">
              <strong class="text-danger" *ngIf="eName.touched && eName.hasError('required')">
                Employee Name is required field
              </strong>
              <ng-container *ngIf="eName.dirty">
                <strong class="text-danger" *ngIf=" eName.hasError('pattern')">
                  Please enter valid Employee Name.
                </strong>
                <strong class="text-danger" *ngIf=" eName.hasError('minlength')">
                  Min length of Employee Name should be
                  {{eName.errors?.['minlength'].requiredLength}} and actual length is
                  {{eName.errors?.['minlength'].actualLength}}
                </strong>
              </ng-container>
            </div>

            <div class="form-group">
              <label for="eId">Employee ID*</label>
              <input minlength="4" maxlength="4" pattern="^[0-9]+$" #eId="ngModel" required ngModel name="eId"
                type="text" class="form-control">
              <strong class="text-danger" *ngIf="eId.touched && eId.hasError('required')">
                Employee Id is required field
              </strong>
              <strong class="text-danger" *ngIf="eId.dirty && eId.hasError('pattern')">
                Please enter valid Employee Id (1234).
              </strong>
              <strong class="text-danger" *ngIf="eId.dirty && eId.hasError('minlength')">
                Min length of Employee ID should be
                {{eId.errors?.['minlength'].requiredLength}} and actual length is
                {{eId.errors?.['minlength'].actualLength}}
              </strong>
            </div>

            <div class="form-group">
              <label for="ltype">Leave Type*</label>
              <select #ltype="ngModel" required ngModel name="ltype" type="text" class="form-control">
                <option *ngFor="let l of leaveTypes" [value]="l">{{l}}</option>
              </select>
              <strong class="text-danger" *ngIf="ltype.touched && ltype.hasError('required')">
                Leave Type is required field
              </strong>
            </div>


            <div class="form-group">
              <label for="fDate">From Date*</label>
              <input (change)="onFromDateChange(empForm)" #fDate="ngModel" required ngModel name="fDate" type="date"
                class="form-control">
              <strong class="text-danger" *ngIf="fDate.touched && fDate.hasError('required')">
                From Date is required
              </strong>
            </div>

            <div class="form-group">
              <label for="tDate">To Date*</label>
              <input #tDate="ngModel" required ngModel name="tDate" [min]="minToDate" type="date" class="form-control">
              <strong class="text-danger" *ngIf="tDate.invalid && tDate.touched">
                To Date is required
              </strong>
              <strong class="text-danger" *ngIf="dateError">
                To Date cannot be less than From Date
              </strong>
            </div>

            <div class="form-group">
              <label for="reason">Reason*</label>
              <input #reason="ngModel" minlength="20" required ngModel name="reason" type="text" class="form-control">
              <strong class="text-danger" *ngIf="reason.touched && reason.hasError('required')">
                Reason is required field
              </strong>
                <strong class="text-danger" *ngIf="reason.dirty && reason.hasError('minlength')">
                  Min length of Reason should be
                  {{reason.errors?.['minlength'].requiredLength}} and actual length is
                  {{reason.errors?.['minlength'].actualLength}}
                </strong>
            </div>
            <button class="btn btn-sm btn-block btn-primary" type="submit">Apply</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>